{{#each LoginSuccessMessage}}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each RegisterSuccessMessage}}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each RegisterFailureMessage}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}


{{#each LoginFailureMessage}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each EnrollFailureNewsletter}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each EnrollSuccessNewsletter}}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

<div class="breadcumb_common_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_left">
                    <p>A Propos de Nous</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_right">
                    <ul>
                        <li><a href="#">Accueil /</a> </li>
                        <li><a href="#">A Propos de Nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about_main">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="doing_what">
                                <h2>Qui Sommes-Nous?</h2>
                                <p class="text-justify">Super Ambition Girls est un webzine dédié à la jeune femme ambitieuse qui souhaite se réaliser et entreprendre grâce à son talent. Nos rubriques abordent des thématiques liés à la vie d’une femme, sur le plan professionnel, social et spirituel.
                                </p>
                                <p class="text-justify">
                                    Notre voulons pousser cette nouvelle génération de jeunes femmes conscientes à s’inspirer des parcours emblématiques tout en se construisant sur des bases solides.
                                </p>
                                <div class="read_more_about">
                                    <a href="/contactUs">Contactez-Nous</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="about_slider">
                                <div id="about_slider_r" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <img src="/images/aboutus1.jpg" alt="" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/images/WhatsApp Image 2018-03-26 at 16.49.44.jpeg" alt="" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/images/aboutus3.jpg" alt="" />
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="carousel-control-prev" href="#about_slider_r" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#about_slider_r" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_authors_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="our_authors">
                    <h2>Notre Equipe</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single_author_about">
                                <div class="autor_img"><img src="/images/chimene.jpg" alt="author1" /></div>
                                <div class="author_desc">
                                    <div class="author_desc_left">
                                        <h4>Chimene Njomou</h4>
                                        <p>Directrice de Publication</p>
                                    </div>
                                    <div class="author_desc_right">
                                        <ul>
                                            <li><a class="fab fa-facebook-f" href="https://www.facebook.com/kendalimperial" target="_blank"></a></li>
                                            <li><a class="fab fa-twitter" href="https://twitter.com/Chimene_Laurell" target="_blank"></a></li>
                                            <li><a target="_blank" class="fab fa-linkedin last_one" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single_author_about">
                                <div class="autor_img"><img src="/images/steeve.jpg" alt="author1" /></div>
                                <div class="author_desc">
                                    <div class="author_desc_left">
                                        <h4>Moyo Steeve</h4>
                                        <p>Administrateur Site Web</p>
                                    </div>
                                    <div class="author_desc_right">
                                        <ul>
                                            <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/steveaymard.tallamoyo"></a></li>
                                            <li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/kemsty2"></a></li>
                                            <li><a target="_blank" class="fab fa-linkedin last_one" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
