<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{{article.titre}}" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="https://www.superambitiongirls.com/articles/{{article._id}}" />
      <meta property="og:image" content="https://www.superambitiongirls.com{{article.photo}}" />
      <meta property="og:description" content="Visiter www.superambitiongirls.com pour lire des articles passionnants sur l'entreprenariat" />
      <meta property="og:locale" content="fr_FR" />
      <meta property="og:site_name" content="SAG" />

      {{#if article}}<meta name="description" content="{{article.titre}}"> {{else}} <meta name="description" content="Super Ambition Girls Ambition et Distinction">{{/if}}
      {{#if article}}<meta name="author" content="{{article.auteur_nom}}"> {{else}} <meta name="author" content="Kemgne Moyo Steeve Aymard">{{/if}}
      {{#if article}}<meta name="keywords" content="{{#each article.tags}}{{this}}, {{/each}}" > {{else}} <meta name="keywords" content="SuperAmbitionGirls, Chimene Ndjoumou, Ambition & Distinction, Entreprenariat, Lifestyle, Empowering, SAG, Femme Forte" >{{/if}}
      <title>{{title}}</title>


      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WLPDZPB');</script>
      <!-- End Google Tag Manager -->

      <!-- ~~~=| Fonts files |==-->
      <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic,100' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,900' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">

      <!-- ~~~=| Font awesome |==-->
      <link rel="stylesheet" href="/stylesheets/fontawesome-all.css">

      <!-- ~~~=| Bootstrap css |==-->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/component.css">
      <script src="/javascripts/jquery-3.3.1.js"></script>

      <!-- ~~~=| Theme files |==-->
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/responsive.css">
      <link rel="stylesheet" href="/stylesheets/newStyle.css">
      <link rel="stylesheet" href="/stylesheets/animate.css">
      <link rel="stylesheet" href="/stylesheets/util.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/jssocials.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/jssocials-theme-flat.css" />

      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117408288-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-117408288-1');
      </script>

      <!-- Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLPDZPB"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header_top_left">
                            <div class="news_twiks">
                                <h4>Citations</h4>
                            </div>
                            <div class="news_twiks_items">
                                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <p>Nous avons tous deux vies. La deuxième commence lorsque nous nous apercevons que nous n’avons qu’une</p>
                                        </div>
                                        <div class="carousel-item">
                                            <p>Je n’ai pas échoué. J’ai simplement trouvé 10.000 solutions qui ne fonctionnent pas</p>
                                        </div>
                                        <div class="carousel-item">
                                            <p>L’échec est une épice qui de donne de la saveur au succès. </p>
                                        </div>
                                        <div class="carousel-item">
                                            <p>Une journée nuageuse ne peut rien contre un tempérament radieux</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header_top_right">

                            <div class="social_header">
                                <ul>
                                    {{#if user}}
                                        <li class="dropdown">
                                            <button id="profil_user" type="button" class="btn btn-outline-primary btn-sm fs-15 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;"><strong class="text-black mr-1">Bienvenue</strong>   {{user.local.pseudo}}</button>
                                            <div class="dropdown-menu" aria-labelledby="profil_user">
                                                <a class="dropdown-item" style="color:#B61D8D !important;" href="/users/logout"><i class="fas fa-power-off mr-2"></i>Deconnexion</a>
                                            </div>
                                        </li>
                                    {{else}}
                                        <li><a id="auser_login" href="#user_login" data-toggle="modal" style="font-size:12px;">Connexion /</a></li>
                                        <li><a id="auser_register" href="#user_register" data-toggle="modal" style="font-size:12px; margin-left:-1.4rem;">Inscription</a></li>
                                    {{/if}}
                                    <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/Superambitiongirls/"></a></li>
                                    <li><a target="_blank" class="fab fa-twitter" href="#"></a></li>
                                    <li><a target="_blank" class="fab fa-snapchat" href="#"></a></li>
                                    <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/superambitiongirls/"></a></li>
                                    <li><a class="fab fa-google-plus" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="header_search_box">
                                <form class="header_search hidden-xs" action="http://premiumlayers.net/demo/html/hash/index.html">
                                    <input type="text" placeholder="Search">
                                    <input type="submit" value="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ~~~=| Logo Area START |=~~~ -->
        <div class="header_logo_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12" style="margin-top: -2rem;">
                        <div class="logo js-tilt" data-tilt> <a href="/"><img src="/images/pro_logotype.png" alt="Site Logo"/></a> </div>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12">
                        <div class="header_add">
                            <a href="#"><img src="/images/ht-add.jpg" alt="Site add"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~=| Logo Area END |=~~~ -->

        <!-- ~~~=| Main Navigation START |=~~~ -->
        <div class="mainnav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="d-flex justify-content-center">
                            <nav class="main_nav_box">
                                <ul id="nav">
                                    <li class="nav_news home wow slideInDown"><a href="/">Accueil</a>
                                        <div class="mega_menu" style="width: 1337px;height: auto;">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="single_mega">
                                                            <ul>
                                                                <li class="active"><a href="/">Home</a></li>
                                                                <li><a href="/typearticle/LifeStyle">LifeStyle</a></li>
                                                                <li><a href="/typearticle/Super Ambitieux">SuperAmbitieux</a></li>
                                                                <li><a href="/typearticle/Empowering">SuperAmbitieux</a></li>
                                                                <li><a href="/typearticle/Love & Relation">Love & Relations</a></li>
                                                                <li><a href="#">Le Billet SAG</a></li>
                                                            </ul>
                                                        </div>
                                                        {{#each recent_post2}}
                                                            <div class="single_mega single_mega2">
                                                                <div class="single_fs_news_left_text">
                                                                    <div class="fs_news_left_img" onclick="document.location= '/articles/lecture/{{this._id}}';">
                                                                        <img alt="" src="/images/upload_images/Screenshot_20171023_094020.png">
                                                                        <div class="br_cam br_vid_big_s"> <a href="#" class="fa fa-camera"></a> </div>
                                                                    </div>
                                                                    <h4><a class="mega_title" href="/articles/lecture/{{this._id}}">{{this.titre}}</a></h4>
                                                                    <p> <i class="fab fa-clock"></i>{{this.date_pub}}<i class="fa fa-comment"></i>{{this.nombre_comms}}</p>
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                        <div class="single_mega single_mega3">
                                                            <div class="all_news_right">
                                                                {{#each recent_post}}
                                                                    <div class="fs_news_right">
                                                                        <div class="single_fs_news_img" onclick="document.location= '/articles/lecture/{{this._id}}';">
                                                                            <img alt="Single News" src="{{this.photo}}">
                                                                        </div>
                                                                        <div class="single_fs_news_right_text">
                                                                            <h5><a class="mega_title1" href="/articles/lecture/{{this._id}}">{{this.titre}}</a></h5>
                                                                            <p> <i class="fab fa-clock"></i>{{this.date_pub}}</p>
                                                                        </div>
                                                                    </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_lifeguide wow slideInDown super_ambitieux" data-wow-delay="0.3s">
                                        <a href="/typearticle/Super Ambitieux">Super Ambitieux</a>
                                        <div class="sub_menu sub_menu_p single_mega">
                                            <ul>
                                                <li style="cursor: pointer;"> <a href="/typearticle/Empowering">Empowering Time</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav_gadgets wow slideInDown lifestyle" data-wow-delay="0.6s"><a href="/typearticle/LifeStyle">LifeStyle</a></li>
                                    <li class="nav_news wow slideInDown loverelation" data-wow-delay="0.9s" ><a href="/typearticle/Love & Relation">Love & Relations</a></li>
                                    <!--<li class="nav_lifeguide wow slideInDown" data-wow-delay="1.2s"><a href="/typearticle/Edito">Edito</a></li>-->
                                    <li class="nav_gadgets wow slideInDown billetsag" data-wow-delay="1.5s"><a href="#">Le Billet SAG</a></li>
                                    <li class="nav_news wow slideInDown teamsag" data-wow-delay="1.8s">
                                        <a href="#">Team SAG</a>
                                        <div class="sub_menu sub_menu_p single_mega">
                                            <ul>
                                                <li style="cursor: pointer"> <a href="/aboutUs">A Propos de Nous</a></li>
                                                <li style="cursor: pointer"> <a href="/contactUs">Contactez-Nous</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!-- ~~~=| Mobile Navigation END |=~~~ -->
                        <div class="only-for-mobile">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="ofm">
                                    <li class="m_nav"><i class="fa fa-bars"></i> Super Ambition Girls</li>
                                </ul>

                                <!-- MOBILE MENU -->
                                <div class="mobi-menu">
                                    <div id='cssmenu'>
                                        <ul>
                                            <li> <a href='/'><span>Accueil</span></a>
                                            </li>
                                            <li class='has-sub'> <a href='/typearticle/Super Ambitieux'><span>SuperAmbitieux</span></a>
                                                <ul class="sub-nav">
                                                    <li><a href="/typearticle/Empowering"><span>Empowering</span></a></li>
                                                </ul>
                                            </li>
                                            <li> <a href='/typearticle/LifeStyle'><span>LifeStyle</span></a> </li>
                                            <li> <a href='/typearticle/Love & Relation'><span>Love & Relations</span></a> </li>
                                            <!--<li> <a href='/typearticle/Edito'><span>Edito</span></a>-->
                                            </li>
                                            <li> <a href='#'><span>Le Billet SAG</span></a> </li>
                                            <li class="has-sub">
                                                <a href='#'><span>Team SAG</span></a>
                                                <ul class="sub-nav">
                                                    <li><a href="/aboutUs">A Propos de Nous</a></li>
                                                    <li><a href="/contactUs">Contactez Nous</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ~~~=| Mobile Navigation START |=~~~ -->

                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~=| Main Navigation END |=~~~ -->

    </header>

    {{{body}}}

    <footer class="footer_area">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_top_box">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_left">
                                        <div class="js-tilt" data-tilt>
                                            <img src="/images/logo3.png" alt="Footer Logo" />
                                        </div>
                                        <p>Vous souhaitez vous ressourcer et être épanouie dans votre domaine/passion, vous souhaitez grandir et exploiter votre potentiel, vous souhaitez vous lancer dans l'entreprenuriat, SAG est votre ressource clé. </p>
                                        <div class="ft_contact">
                                            <h4>Contact</h4>
                                            <address>
                                                <p> <i class="fa fa-map-marker"></i>5 Esplanade de la défense, 92800 Puteaux</p>
                                                <!--<p ><i class="fa fa-phone"></i>Telephone : +33 6 89 13 29 81</p><br>-->
                                                <p ><i class="fa fa-envelope"></i> E-mail : superambitiongirls@gmail.com</p>
                                            </address>
                                        </div>
                                        <div class="ft_connected">
                                            <h4>Restons connecté</h4>
                                            <p>Suivez-nous...Restez informé sur notre actualité</p>
                                            <ul>
                                                <li><a class="fab fa-facebook-f" href="https://www.facebook.com/Superambitiongirls/"></a></li>
                                                <li><a class="fab fa-twitter" href="#"></a></li>
                                                <li><a class="fab fa-google-plus" href="#"></a></li>
                                                <li><a class="fab fa-instagram" href="https://www.instagram.com/superambitiongirls/"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_middle">
                                        <div class="ftm_realted_post">
                                            <h4>Navigation</h4>
                                            <div class="single_related_post">
                                                <div class="rel_post_text"> <h5><a>Accueil</a></h5>
                                                    <p> #SAG, Ambition & Innovation</p>
                                                </div>
                                            </div>
                                            <div class="single_related_post">
                                                <div class="rel_post_text"> <h5><a href="/typearticle/Super Ambitieux">Super Ambitieux</a></h5>
                                                    <p>Votre ambition n'a pas de limite</p>
                                                </div>
                                            </div>
                                            <!--<div class="single_related_post">
                                                <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/images/blogggg.jpg" alt="" /> </a> </div>
                                                <div class="rel_post_text"> <h5><a>Edito</a></h5>
                                                    <p>Votre ambition n'a pas de limite</p>
                                                </div>
                                            </div>-->
                                            <div class="single_related_post">
                                                <div class="rel_post_text"> <h5><a href="/typearticle/Love & RelationShip">Love & Relation</a></h5>
                                                    <p>Fait les bons choix</p>
                                                </div>
                                            </div>
                                            <div class="single_related_post">
                                                <div class="rel_post_text"> <h5><a href="/typearticle/LifeStyle">LifeStyle</a></h5>
                                                    <p>Tu es une femme distinguée</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ftm_newsletter">
                                            <h4>Newsletter</h4>
                                            <p>Inscrivez vous à notre newsletter et recevez gratuitement nos articles</p>
                                            <form action="/users/enroll_newsletter" method="post">
                                                <input type="hidden" name="href" id="href2">
                                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                                <input type="text" value="" placeholder="Adresse Email" name="email" required/>
                                                <input type="submit" class="btn btn-primary" value="Submit"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_right">
                                        <div class="ftr_video">
                                            <h4>video de la journée</h4>
                                            <div class="results_video embed-responsive embed-responsive-16by9">
                                                <video class="embed-responsive-item" width="560" height="350" autoplay controls>
                                                    <source src="/images/woman.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                        </div>
                                        <div class="ftr_tags">
                                            <h4>Tags</h4>
                                            <ul id="tag">
                                                <li><a href="#">Super Ambitieux</a></li>
                                                <li><a href="#">LifeStyle</a></li>
                                                <li><a href="#">Empowering</a></li>
                                                <li><a href="#">Love</a></li>
                                                <li><a href="#">RelationShip</a></li>
                                                <li><a href="#">Edito</a></li>
                                                <li><a href="#">Strong Woman</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_bottom_box">
                            <p> &copy; COPY RIGHTS 2018 All Rights Reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="user_login" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 ml-auto mr-auto js-tilt" data-tilt>
                            <img src="/images/pro_logotype.png" alt="IMG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 ml-auto mr-auto" >
                            <div class="social_header2 text-center">
                                <ul>
                                    <li><a href="/users/auth/facebook" style="color:#0056b3">
                                        <i class="fab fa-facebook-f"> </i>
                                    </a></li>
                                    <li>
                                        <a href="/users/auth/twitter" class="" style="color:#00ACED">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="/users/auth/google" class="" style="color:#cc2127">
                                        <i class="fab fa-google-plus"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <h5 class="text-muted" style="font-family: Arial, Helvetica, sans-serif !important;"> Ambition & Distinction</h5>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post" id="user_login" action="/users/login" class="col-md-11 col-sm-11 col-xs-12 ml-auto mr-auto">
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                    </div>
                                    <div class="col-md-11 col-sm-11 col-xs-12 mr-auto ml-auto">
                                        <input type="email" class="form-control input-1" placeholder="Email..." name="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <div class="col-md-11 col-sm-11 col-xs-12 mr-auto ml-auto">
                                        <input type="password" class="form-control input-1" placeholder="Password..." name="password" required>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input type="hidden" name="href" id="href4">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" style="border-radius: 0px; background-color: #B61D8D; border-color:#B61D8D;"> Connexion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user_register" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close floatright" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-auto mb-auto">
                                <div class="info info-horizontal mb-3">
                                    <div class="icon icon-primary">
                                        <i class=""></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#4f2c84">Ambition</h5>
                                        <p class="text-black">
                                            Cet onglet met en avant toutes les initiatives de femmes ambitieuses au travers d’interviews, reportages et articles.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal mb-3">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons media-1_button-pause"></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#B61D8D">LifeStyle</h5>
                                        <p class="text-black">
                                            C'est ce style de vie distingué de ces femmes. Astuces modes et beauté pour les plus élégantes.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal mb-3">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#DC3151">Love & Relation</h5>
                                        <p class="text-black">
                                            L’amour contribue également à notre épanouissement personnel, nous abordons des sujets édifiants de couples.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#201E4B">Le Billet SAG</h5>
                                        <p class="text-black">
                                            Pour donner de la voix à notre communauté. C'est un livre ouvert à toutes celles qui voudront traiter d’un sujet, partager une expérience, une confession...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="card" style="border-color:#B61D8D !important;">
                                    <div class="card-img-top js-tilt text-center" data-tilt>
                                        <img src="/images/pro_logotype.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <div class="social text-center">
                                            <a href="/users/auth/twitter" class="mr-2" style="color:#00ACED">
                                                <i class="fab fa-twitter fa-2x"></i>
                                            </a>
                                            <a href="/users/auth/google" class="mr-2" style="color:#cc2127">
                                                <i class="fab fa-google-plus fa-2x"></i>
                                            </a>
                                            <a href="/users/auth/facebook" style="color:#0056b3">
                                                <i class="fab fa-facebook-f fa-2x"> </i>
                                            </a>
                                            <h5 class="card-description mt-3"> Ambition & Distinction </h5>
                                        </div>

                                        <form class="form" method="post" action="/users/register">
                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="text" class="form-control input-1" placeholder="Noms..." name="noms" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="text" class="form-control input-1" placeholder="Prenoms..." name="prenoms" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="text" class="form-control input-1" placeholder="Pseudo..." name="pseudo" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="email" class="form-control input-1" placeholder="Email..." name="email" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="password" class="form-control input-1" placeholder="Password..." name="password" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                            <input type="hidden" name="href" id="href5">
                                            <div class="card-footer text-center">
                                                <button type="submit" id="btn_register" class="btn btn-outline-primary">Inscription</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/tilt.jquery.min.js"></script>
    <script src="/assets/js/plugins/jquery.validate.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/jssocials.js"></script>
    <script src="/javascripts/classie.js"></script>
	<script src="/javascripts/modalEffects.js"></script>


    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        });
    </script>
    <script>
        $("#share").jsSocials({
            showLabel: false,
            shares: ["twitter", "facebook", "googleplus", "linkedin","whatsapp"]
        });
    </script>

  </body>
</html>
