{{#each RegisterSuccessMessage}}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each RegisterFailureMessage}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each LoginFailureMessage}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}


{{#each EnrollFailureNewsletter}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

{{#each EnrollSuccessNewsletter}}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        {{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

<div class="breadcumb_common_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_left">
                    <p>Connexion Client</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_right">
                    <ul>
                        <li><a href="#">Acceuil /</a> </li>
                        <li><a href="#">Connexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact_message_area">
    <div class="container">
        <div class="row">
            <div class="card col-md-6 col-sm-12 col-xs-6 mr-auto ml-auto">
                <div class="contact-page-form">
                    <h2 class="text-center card-header" style="background-color: #DC3151;">Connexion</h2>
                    <div class="comments_form card-body">
                        <form action="/users/login" method="post">
                            <div class="contact_cc_name">
                                <input type="email" name="email" placeholder="Adresse Email" required/>
                                <input type="password" name="password" placeholder="Mot de Passe" required/>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mr-auto ml-auto mt-4">
                                    <input name="submit"  type="submit" value="Connexion"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>