<div class="breadcumb_common_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_left">
                    <p>{{article.type}}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_right">
                    <ul>
                        <li><a href="#">Accueil  /</a></li>
                        <li><a href="#">{{article.type}} /</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_news_wrapper cc_single_post_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <!-- ~~~=| Fashion area START |=~~~ -->
                <input type="hidden" value="{{article.contenu}}" id="contenuhidden">
                <div class="cc_single_post">
                    <div class="row">
                        <div class="col-md-11 col-sm-11 col-xs-12">
                            <div class="br_single_news">
                                <img alt="" class="img-responsive" src="{{article.photo}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="sp_details">
                                <a href="#">{{article.type}}</a>
                                <h1>{{article.titre}}</h1>
                                <div class="post_meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>By {{article.auteur_nom}}</a></li>
                                        <li><a href="#"><i class="far fa-clock"></i>{{article.date_pub}}</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i>{{article.nombre_comms}}</a></li>
                                    </ul>
                                </div>
                                <div class="post_text" id="contenu">
                                </div>
                                <div class="social_tags">
                                    <div class="social_tags_left">
                                        <p>Tags :</p>
                                        <ul>
                                            {{#each article.tags}}
                                                <li><a>{{this}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="social_tags_right">
                                        <p>Partager: </p>
                                        <div id="share"></div>
                                        <!--<ul>
                                            <li class="facebook"><a class="fab fa-facebook-f" href="#"></a></li>
                                            <li class="twitter"><a class="fab fa-twitter" href="#"></a></li>
                                            <li class="google-plus"><a class="fab fa-google-plus" href="#"></a></li>
                                            <li class="linkedin"><a class="fab fa-linkedin" href="#"></a></li>
                                        </ul>-->
                                    </div>
                                </div>
                                <div class="sp-next-prev">
                                    {{#each previous}}
                                        <div class="sp-prev">
                                            <a href="/articles/lecture/{{this._id}}"><i class="fa fa-angle-double-left"></i>Article Précedent</a>
                                            <div class="sp-next-post">
                                                <a href="/articles/lecture/{{this._id}}">{{this.titre}}</a>
                                            </div>
                                        </div>
                                    {{/each}}
                                    {{#each next}}
                                        <div class="sp-next">
                                            <a href="/articles/lecture/{{this._id}}">Article Suivant<i class="fa fa-angle-double-right"></i></a>
                                            <div class="sp-next-post">
                                                <a href="/articles/lecture/{{this._id}}">{{this.titre}}</a>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                <div class="sp-comments-box">
                                    <h2>Commentaires</h2>
                                    {{#if commentaires}}
                                        {{#each commentaires}}
                                            <div class="single_comment comms">
                                                <div class="single_comment_text">
                                                    <div class="sp_title">
                                                        <a href="#"><h4>{{this.user_FullName}}</h4></a>
                                                        <p>11 </p>
                                                    </div>
                                                    <p>{{this.contenu}}</p>
                                                    <a href="javascript:myfunction('{{this._id}}');"><i class="fa fa-reply"></i>Reply</a>
                                                </div>
                                            </div>
                                            <div class="row" id="{{this._id}}">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="card">
                                                        <div class="card-header text-center">Reponses <a href="javascript:close('{{this._id}}');"><i class="fa fa-times "></i></a></div>
                                                        <div class="card-body">
                                                            {{#if ../user}}
                                                                <form action="/users/post_reply" method="post">
                                                                    <div class="row mb-3">
                                                                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                                                        <input type="hidden" name="article_id" value="{{../article._id}}">
                                                                        <input type="hidden" name="comms_id" value="{{this._id}}">
                                                                        <input type="hidden" name="comms_tab_id" value="{{@index}}">
                                                                        <div class="col-md-12">
                                                                            <textarea class="form-control" placeholder="Message" name="message" required></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex justify-content-center">
                                                                        <button class="btn btn-primary">Repondre</button>
                                                                    </div>
                                                                </form>
                                                            {{else}}
                                                                <div class="row">
                                                                    <p><a href="#user_register" data-toggle="modal">Inscrivez</a> Vous Pour Poster un commentaire </p>
                                                                </div>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{#each this.reponses}}
                                                <div class="single_comment reponse">
                                                    <div class="single_comment_text">
                                                        <div class="sp_title">
                                                            <a href="#"><h4>{{this.user_FullName}}</h4></a>
                                                            <p>10 </p>
                                                        </div>
                                                        <p>{{this.contenu}}</p>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        {{/each}}
                                    {{else}}
                                        <p class="fs-15 ml-3">Aucun commentaire pour l'instant, Soyez le premier à commenter</p>
                                    {{/if}}
                                </div>
                                {{#if user}}
                                    <div class="comment-form">
                                        <h2 class="mt-3">Laissez un commentaire</h2>
                                        <div class="comments_form">
                                            <form action="/users/post_commentaire" method="post">
                                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                                <input type="hidden" name="article_id" value="{{article._id}}">
                                                <textarea cols="20" rows="10" placeholder="Message" name="message" required></textarea>
                                                <input type="submit" value="Postez Commentaire"/>
                                            </form>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="row">
                                        <p><a href="#user_register" data-toggle="modal">Inscrivez</a> Vous ou <a href="#user_login" data-toggle="modal">Connectez Vous</a> Pour Poster un commentaire</p>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ~~~=| Fashion area END |=~~~ -->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="home_sidebar">
                    <div class="follow_us_side">
                        <h2>NewsLetter</h2>
                        <div class="card">
                            <div class="card-img-top text-center"><img class="img-responsive" src="/images/pro_logotype.png"></div>
                            <div class="card-body">
                                <form action="/users/enroll_newsletter" method="post">
                                    <input type="hidden" name="href" id="href">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    <p class="text-center text-white">Inscrivez-Vous à Notre NewsLetter pour recevoir nos articles</p>
                                    <hr >
                                    <input type="text" class="form-control mb-3" placeholder="Entrer votre Email" name="email" required>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn " id="newsletterbtn">Je m'inscris</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Publicite</h2>
                        <div class="purchase_sidebar_img " style="cursor: pointer;" onclick="window.open('https://www.facebook.com/MBOTEdeMaisonCassava/');">
                            <img src="/images/Mboté.png" alt="" />
                            <div class="purchase_overlay">
                                <p>Boisson Rafraichissante <strong class="fs-20">Mboté</strong></p>
                            </div>
                        </div>
                        <div class="purchase_sidebar_img" style="cursor: pointer;" onclick="window.open('https://www.facebook.com/mboawax/');">
                            <img src="/images/IMG-20180328-WA0037.jpg" alt="" />
                            <div class="purchase_overlay">
                                <p>Habillez Vous Dorenavant Chez <strong class="fs-20">Mboawax</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Suivez Nous</h2>
                        <div class="all_single_follow">
                            <div class="single_follow_us"> <a href="#"> <i class="fab fa-facebook-f"></i><br>
                                5638<br>
                                Fans </a> </div>
                            <div class="single_follow_us twit"> <a href="#"> <i class="fab fa-twitter"></i><br>
                                5638<br>
                                Fans </a> </div>
                            <div class="single_follow_us goopl"> <a href="#"> <i class="fab fa-google-plus"></i><br>
                                5638<br>
                                Fans </a> </div>
                            <div class="single_follow_us last_one"> <a href="#"> <i class="fab fa-instagram"></i><br>
                                5638<br>
                                Fans </a> </div>
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Articles Récents</h2>
                        <div class="all_news_right">
                            {{#if recent_post}}
                                {{#each recent_post}}
                                    <div class="fs_news_right" onclick="document.location= '/articles/lecture/{{this._id}}';">
                                        <div class="single_fs_news_img"> <img src="{{this.photo}}" alt="Single News" /> </div>
                                        <div class="single_fs_news_right_text">
                                            <h4><a href="/articles/lecture/{{this._id}}">{{this.titre}}</a></h4>
                                            <p> <a class="violet-text" href="#">{{this.type}}</a>| <i class="far fa-clock"></i> {{this.date_pub}} </p>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Articles Populaires</h2>
                        <div class="all_news_right">
                            {{#if popular_post}}
                                {{#each popular_post}}
                                    <div class="fs_news_right" onclick="document.location= '/articles/lecture/{{this._id}}';">
                                        <div class="single_fs_news_img"> <img src="{{this.photo}}" alt="Single News" /> </div>
                                        <div class="single_fs_news_right_text">
                                            <h4><a href="/articles/lecture/{{this._id}}">{{this.titre}}</a></h4>
                                            <p> <a class="violet-text" href="#">{{this.type}}</a>| <i class="far fa-clock"></i> {{this.date_pub}}  </p>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function myfunction(e){
        var comm = document.getElementById(e);
        comm.style.display = 'block';
    }

    function close(e) {
        var comm = document.getElementById(e);
        comm.style.display = "none";
    }
</script>