<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des Articles </h4>
                </div>
                <div class="card-body">

                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Type</th>
                            <th>Auteur</th>
                            <th>Special</th>
                            <th>Tags</th>
                            <th>Nombre de Vue</th>
                            <th>Date Publication</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Titre</th>
                            <th>Type</th>
                            <th>Auteur</th>
                            <th>Special</th>
                            <th>Tags</th>
                            <th>Nombre de Vue</th>
                            <th>Date Publication</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {{#each articles}}
                            <tr>
                                <td>{{this.titre}}</td>
                                <td>{{this.type}}</td>
                                <td>{{this.auteur_nom}}</td>
                                <td>{{#if this.special}}Oui {{else}} Non{{/if}}</td>
                                <td>{{#each this.tags}} {{this}}, {{/each}}</td>
                                <td>{{this.nombre_vue}}</td>
                                <td>{{this.date_publication}}</td>
                                <td class="text-right">
                                    <a href="/articles/edit_article/{{this._id}}" class="btn btn-round btn-warning btn-icon btn-sm edit" data-toggle="tooltip" data-placement="top" title="Modifier Article"><i class="far fa-calendar-alt"></i></a>
                                    <a href="/articles/del_article/{{this._id}}" class="btn btn-round btn-danger btn-icon btn-sm remove" data-toggle="tooltip" data-placement="top" title="Supprimer Article"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div><!-- end content-->
            </div><!--  end card  -->
        </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
</div>

